* {
    margin: 0;
    padding: 0;
}

html, body, #app {
    height: 100%;
}

.app {
    background-color: #FAFAFA;
    font-family: 'Oxygen', sans-serif;
}

.app_loading {
    text-align: center;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
