* {
    margin: 0;
    padding: 0;
}

html, body, #app {
    height: 100%;
}

body {
    overflow-y: scroll;
}

.app {
    background-color: #FAFAFA;
    font-family: 'Lato', sans-serif;
}

.app_loading {
    text-align: center;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.app_message {
    text-align: center;
    padding-top: 200px;
    height: 400px;
    font-size: 30px;
    line-height: 130%;
}

.main {
    max-width: 800px;
    padding: 100px 0 40px;
    margin: 0 auto;
}

.more {
    margin-top: 30px;
}

.more__header {
    font-size: 22px;
}

.more__anchor {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
