.main {
    max-width: 900px;
    margin: 40px auto;
}

.main-word__caption {
    font-size: 22px;
    vertical-align: middle;
}

.main-word__word {
    font-size: 40px;
    text-transform: capitalize;
    vertical-align: middle;
    padding-left: 10px;
    font-weight: bold;
    color: #3b5998;
}

.more {
    margin-top: 50px;
}

.more__header {
    font-size: 22px;
}

.footer {
    border-top: 1px solid #EDEEEE;
    padding: 0 20px;
    line-height: 35px;
    background: #FFF;
    text-align: center;
}
