.main-image {
    max-width: 900px;
    background: white;
    box-sizing: border-box;
    border: 1px solid #EDEEEE;
    border-radius: 2px;
    margin: 30px 0;
}

.main-image:first-child {
    margin-top: 0;
}

.main-image__head {
    font-size: 30px;
    height: 55px;
    padding: 10px 15px;
    text-transform: capitalize;
    box-sizing: border-box;
}

.main-image__picture {
    width: 100%;
    min-height: 430px;
    overflow: hidden;
}

.main-image__picture img{
    width: 100%;
}

.main-image__footer {
    height: 55px;
    text-align: center;
}

.main-image__footer:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.facebook-button,
.twitter-button {
    height: 30px;
    width: auto;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.facebook-button {
    height: 35px;
}
