.progress-bar {
    margin-top: 1px;
    transition: all .4s;
}
.progress-bar__fill {
    height: 3px;
    background: #244298;
    /*box-shadow: 0 0 1px #244298,0 0 2px #244298;*/
    transition: all .2s ease;
}
