.header {
    border-bottom: 1px solid #EDEEEE;
    height: 70px;
    background: #FFF;
    font-size: 0;
    position: fixed;
    width: 100%;
    top: 0;
}

.header__inner {
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.header__logo {
    height: 100%;
    display: inline-block;
    width: 52px;
}

.header__logo img {
    max-height: 70%;
    width: 100%;
    vertical-align: middle;
}

.header__vam-helper {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.header__word {
    display: inline-block;
    margin-left: 0px;
    vertical-align: middle;
}

.header__search, .header__list {
    height: 100%;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 50px;
    cursor: pointer;
}

.header__search img {
    height: 50%;
    vertical-align: middle;
}

.header__search {
    display: none;
}

.header__list {
    right: 60px;
}

.header__list img {
    height: 36%;
    vertical-align: middle;
}

.header__calendar {
    height: 100%;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.header__about {
    height: 100%;
    line-height: 70px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 70px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 24px;
}

.header__about-content {
    line-height: 200%;
}

.main-word__word {
    font-size: 40px;
    text-transform: capitalize;
    vertical-align: middle;
    font-weight: bold;
    color: #244298;
}

.social {
    padding-top: 10px;
    text-align: center;
}

.social a {
    display: inline-block;
    vertical-align: top;
}

.social a + a {
    padding-top: 4px;
    margin-left: 10px
}
