.header {
    border-bottom: 1px solid #EDEEEE;
    padding: 0 20px;
    height: 70px;
    background: #FFF;
    font-size: 0;
}

.header__inner {
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.header__logo {
    height: 100%;
    display: inline-block;
}

.header__logo img {
    max-height: 90%;
    vertical-align: middle;
}

.header__vam-helper {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.header__word {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}

.header__search {
    height: 100%;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 50px;
    cursor: pointer;
}

.header__search img {
    height: 50%;
    vertical-align: middle;
    display: none;
}

.header__calendar {
    height: 100%;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
